
<header class="block">
  <div class="py-16 md:py-6 mx-auto w-full max-w-7xl px-5 md:px-10">
    <div class="md:flex-row flex justify-between sm:items-center sm:flex-col items-start flex-col-reverse">
      <p class="text-gray-500 text-sm sm:text-base"> Storage </p>
      <div class="font-semibold mb-4 sm:mb-0 py-1 text-center sm:text-center">
      <button @click="showModal = true" 
              class="bg-gray-700 text-white rounded-md px-4 py-2 hover:bg-gray-600">
          Zobacz schowek
      </button>
      </div>
    </div>
    <div class="w-full border-b border-gray mt-6"></div>
  </div>
</header>

